/* CSS declarations go here */
body {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  background-attachment: initial;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 13px;
}
 
.tasks {
  margin: 2% auto;
  min-height: 100%;
  background: white;
}
 
.tasks-header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}
 
.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-task input:focus{
  outline: 0;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
.tasks li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
 
.tasks li .text {
  margin-left: 10px;
}
 
.tasks li.checked {
  color: #888;
}
 
.tasks li.checked .text {
  text-decoration: line-through;
}
 
.tasks li.private {
  background: #eee;
  border-color: #ddd;
}
 
.tasks header .hide-completed {
  float: right;
}
 
.tasks .toggle-private {
  margin-left: 5px;
}

.dropdown-item.search-item {
  min-height: 60px;
}

/* Modal */

.modal.show.fade {
  display: block;
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 0;
}

.modal.show.fade.plan {
  z-index: 0;
}

.modal.show.fade.user-modal button {
  margin-bottom: 25px;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* Spinner */

.dimmed {
  content: " ";
  z-index: 5000;
  display: block;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.loading {
  position: relative;
  margin: 0 auto;
  top: 50%;
}

.loading svg{
  margin: 0 auto;
}

.loading h4{
  text-align: center;
  color: #fff;
}

.spinner{
  margin: 0 auto;
  margin-bottom: 10px;
}

/* Executive Unit Modal */

.mycontent-left {
  border-right: 1px solid #ced4da;
}

.container-fluid.col-md-10.col-xs-12 {
  margin-left: 0 auto;
}

/* Upload Button */

.image-upload > input{
  display: none;
}

.image-upload > label {
  cursor: pointer;
}

p.hash {
  overflow: hidden;
  text-overflow: ellipsis;
}

.pull-left.checkbox {
  margin-right: 7px;
}

.plus-checklist.pull-left.checkbox {
  margin-top: 5px;
}

.container .table-responsive.plan-details {
  max-height: 500px;
}

/* CHECK */

/* datepicker */

.datepickerzindex {
  z-index: 0 !important;
}

.fade.in {
  opacity: 1;
}

.popover>.arrow, .popover>.arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover>.arrow {
  border-width: 11px;
}

.popover.bottom>.arrow {
  top: -11px;
  left: 20% !important;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #f7f7f7;
}

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.popover.bottom {
  margin-top: 10px;
}

.popover {
  position: absolute;
  /* top: 0;
  left: 0; */
  left: -175px !important;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.datepicker-previous-wrapper{
  float: left;
  display: block;
}

.datepicker-next-wrapper{
  float: right;
  display: block;
}

.bg-primary{
  color: #fff;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

/* Dropdown */

.dropdown-menu-list {
  overflow-y: scroll;
  max-height: 300px;
  width: max-content;
}

/*REMINDERS */

.search-button {
  box-shadow: none;
}

.label-default {
  background-color: #777;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}


.I-ChatBot {
  left: 1.5em;
  right: 1.5em;
  bottom: 2em;
  top: 7em;
  background-color: #ffffff;
}

.Home .Chat .GetStarted .AlignMiddle .welcome-title h1 {
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 5px;
  color: #ff5a5fcc;
  text-transform: uppercase;
  font-weight: 200;
}

.chatbot-menu .Home .Chat .GetStarted .AlignMiddle .welcome-title h1 {
  font-size: 15px;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Home .Chat .GetStarted .AlignMiddle .welcome-title p ,
.Home .Chat .GetStarted .AlignMiddle .welcome-title h3 {
  letter-spacing: 1px;
  color: #848587;
  font-family: 'Crete Round', sans-serif;
}

.chatbot-menu .Home .Chat .GetStarted p {
  font-size: 1.0em;
  margin-top: 40px;
  margin-bottom: 40px;
}

.Home .Chat .GetStarted img.Justin {
  height: 100px;
  max-width: 100px;
}

.chatbot-menu .Home .Chat .GetStarted img.Justin {
  height: 40px;
  max-width: 40px;
}

.Home .Chat .GetStarted span button {
  background: transparent;
  margin: 10px;
  vertical-align: baseline;
  outline: 0;
  padding: 10px;
  border: 2px solid #b4b4b4;
  color: #ff5a5fcc;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
  box-shadow: none;
}

.chatbot-menu .I-ChatBot {
  width: 100%;
  left: 0px;
  margin-top: 45px;
  top: 0;
  height: 90%;
}

.chatbot-menu .I-ChatBot ul.ActionBar {
  overflow-y: scroll;
  overflow-x: visible;
}

.I-ChatBot ul.Messages {
  bottom: 6em;
  position: relative;
}

.I-ChatBot ul.Messages li.Message,
.I-ChatBot ul.ActionBar li.Action {
  margin: 1em;
}

.chatbot-menu .I-ChatBot ul.Messages {
  height: 85%;
}

.chatbot-menu .I-ChatBot ul.ActionBar li.Action div.TextInput input.Input {
  width: 150px;
}

.GetStarted.content-body {
  background-color: #ffffffb3;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Container .Content {
  width: auto;
  margin: 20px;
  margin-top: 30px;
  height: 80vh;
}

.chatbot-menu .Container .Content {
  margin: 0px;
  padding: 0px;
  padding-top: 40px;
}

.FullSizeTable {
  display: table;
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.chatbot-menu .FullSizeTable {
  padding: 0px;
}

/* CANVAS */

.canvas-card {
  background-color: #0000003b;
  padding: 20px;
  border-radius: 6px;
  margin-top: 30px;
}

.canvas-card textarea {
  width: 100%;
  border-radius: 5px;
  border: none;
  height: 100%;
  padding: 10px;
}

.canvas-card .table-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.canvas-card .title {
  text-align: center;
  width: 100%;
}

.canvas-card .title input {
  border-radius: 5px;
  text-align: center;
  color: #ff5a5fcc;
  border: none;
}

.canvas-card .title p {
  font-size: 40%;
}

.canvas-card .row {
  margin-bottom: 20px;
}

.actions {
  position: absolute;
  right: 20px
}

.swot .actions {
  top: 10px
}

.plan .actions {
  position: relative;
  float: right;
}

.actions .icon {
  margin-left: 20px;
}

.actions .icon img {
  height: 20px;
}

.actions .icon img.cross {
  height: 17px;
}

table img {
  height: 15px;
}

td>input,
td input {
  border: none;
  width: 90%;
}

td input.frequency {
  width: 200px;
  margin-right: 20px;
}

.row.header {
  padding: 20px;
}

.row.header .col-md-6 {
  padding: 0px;
}

.row.header button,
.pink-button {
  float: right;
  background: #ff5a5fcc;
  vertical-align: baseline;
  outline: 0;
  padding: 10px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
  box-shadow: none;
  border-radius: 5px;
  margin-left: 10px;
}

.row.header select {
  float: right;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  border-color: #9f9f9f;
}

.plan .row.header tbody select {
  padding: 0;
  width: 200px;
  margin-bottom: 1rem;
  margin-right: 20px;
  float: none;
}

.plan .row.header tbody p {
  margin-right: 1rem;
}

.table td .row {
  margin: 0;
}

/* WIZARD */

ol.progtrckr {
  list-style-type: none;
  padding: 0;
  font-size: 12px;
}

.progtrckr {
  text-align: center;
  padding-bottom: 16px;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #5cb85c;
}

ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #9f9f9f;
}

ol.progtrckr li.progtrckr-todo {
  color: #9f9f9f;
  border-bottom: 4px solid #9f9f9f;
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 2.5rem;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #5cb85c;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-doing:before,
ol.progtrckr li.progtrckr-todo:before {
  content: "\2022";
  color: white;
  background-color: #CCCCCC;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li:before {
  position: relative;
  bottom: -2.0rem;
  float: left;
  left: 50%;
}

li span{
  pointer-events: none;
  display: inline-block;
}

.progtrckr li {
  margin-bottom: 10px;
}

.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}

.row.header button.pull-left {
  float: left;
}

.backButtonClass,
.nextButtonClass {
  background: #ff5a5fcc;
  vertical-align: baseline;
  outline: 0;
  padding: 10px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
  box-shadow: none;
  border-radius: 5px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
}

.plan .footer-buttons {
  text-align: center;
}

/* Empty Message */

.row.empty-message {
  margin-bottom: 20px;
  width: 100%;
}

.row.empty-message .col-md-12 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #9f9f9f;
}

/* SWOT */

.swot .row.row-data {
  min-height: 150px;
  padding-left: 20px;
  padding-right: 20px;
}

.swot h4 {
  color: #7f7f7f;
}

.swot .section {
  padding: 10px;
  border-radius: 5px;
}

.swot .section.strength {
  background-color: #978f8730;
}

.swot .section.weakness {
  background-color: #ff860d24;
}

.swot .section.opportunity {
  background-color: #54ff0d24;
}

.swot .section.threat {
  background-color: #f0ff0d24;
}

.swot-tasks .actions {
  right: 60px;
}

.dropdown-input {
  margin-left: 20px;
  width: 80%;
  margin-bottom: 10px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #a6a5a5;
}

.swot .dropdown-row {
  padding-left: 10px;
  flex-wrap: wrap;
  display: flex;
}

.swot .dropdown-menu {
  width: 220px;
}

.swot .dropdown-row button {
  float: right;
  background: #ff5a5fcc;
  vertical-align: baseline;
  outline: 0;
  padding: 10px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
  box-shadow: none;
  border-radius: 5px;
  margin-left: 10px;
}

.row.swot-element {
  margin: 0px;
}

.row.swot-element img {
  height: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.swot-tasks .row.header select {
  float: left;
  width: 100%;
  height: 20px;
  padding: 0;
}

/* CHATBOT MENU */

/* Position and sizing of burger button */
.chatbot-menu .bm-burger-button {
  position: fixed;
  height: 50px;
  bottom: 10px;
  right: 30px;
  background: #ffffff;
  border: 2px solid #a6a5a5;
  border-radius: 5px;
}

.bm-burger-button img {
  height: 35px;
  margin: 5px;
}

.bm-burger-button h4 {
  float: right;
  margin: 10px;
  margin-left: 0px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 2.5em 1.5em 0;
  font-size: 1em;
}

.main-menu .bm-menu {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: hidden !important;
  z-index: 1200 !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item-list .ActionBar {
  height: 20vh;
}

.bm-item-list .Messages {
  height: 69vh!important;
}

.main-menu .bm-item-list {
  overflow-y: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

.main-menu .bm-item {
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}

.main-menu .bm-overlay {
  z-index: 1200 !important;
}

.bm-menu-wrap {
  top: 0px;
}

.main-menu .bm-menu-wrap {
  width: 200px !important;
  z-index: 1200 !important;
}

.main-menu .bm-menu-wrap {
  left: 0px;
}

.page-wrapper {
  width: 75%;
}

/* Login */

.login-container {
  margin-top: 100px;
}

.login .row {
  margin: 0;
  width: 100%;
}

.login .content-register{
  margin: 0 auto;
  min-width: 90%;
  box-shadow: none;
  background: #fafafad9;
}

.login .title-form {
  color: #495057c7;
  font-weight: 300;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

.login form {
  text-align: center;
}

.transparent-button {
  background: transparent;
  margin: 0 auto;
  vertical-align: baseline;
  outline: 0;
  padding: 10px;
  border: 2px solid #b4b4b4;
  color: #ff5a5fcc;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
}

.login.not-found .message {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.not-found button {
  min-width: 90%;
}

/* LANDING */

.landing.navbar {
  margin: 0px;
}

.landing.navbar a {
  margin: 0 10px 0 10px;
  color: #4e4e4e;
  /* float: right; */
}

.landing.navbar a:hover {
  color: #fd5156d1;
}

.landing.navbar .dropdown {
  float: right;
  background-color: #fc6a68;
  border-radius: 5px;
}

.landing.navbar .dropdown a,
.landing.navbar .dropdown a:hover {
  color: white;
}

.landing .content-body {
  width: auto;
  margin: 0px;
  background-color: #ffffffb3;
  padding-top: 120px;
  padding-bottom: 120px;
}

.landing .content-body.initial-section {
  background-color: #ffffff5c;
  padding: 0px;
  height: 80vh;
  max-height: 80vh;
  min-height: 80vh;
}

.slider,
.slider-frame,
.slider-list,
.slider-slide {
  max-height: inherit;
  min-height: inherit;
}

.landing .content-body .slider img {
  height: 700px;
  top: -60px;
  position: relative;
}

.landing .content-body.white {
  background-color: white;
}

.landing .content-body.expert-system .welcome-title,
.landing .content-body.team .welcome-title {
  text-align: left;
}

.landing .content-body.clients .row {
  text-align: center;
}

.landing .content-body.gray {
  background-color: #ececec;
}

.landing .table {
  display: table;
  position: relative;
  width: 100%;
  padding-left: 0px;
}

.landing .content-body.initial-section .table {
  height: 80vh;
  min-height: 100%;
}

.landing .welcome-title {
  display: table-cell;
  margin: 0 auto;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

.landing .welcome-title h1 {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: 2px;
  color: #fd5156d1;
}

.landing .welcome-title p {
  letter-spacing: 2px;
    color: #4e4e4e;
    font-family: sans-serif;
    font-size: 30px;
}

.landing .transparent-button {
  font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    border: 2px solid #808080;
    color: #fd5156d1;
}

.landing-clients {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.landing .pink-button {
  float: none;
  margin-left: 20px;
}

.landing .pink-button.secondary {
  background: #ff5a5f70;
}

.landing .dropdown-menu {
  min-width: 20rem;
}

.landing .dropdown-menu p {
  margin-left: 20px;
}

.landing .dropdown-title {
  margin: 10px 20px 10px;
  font-size: 20px;
  color: #4e4e4e;
  border-bottom: 2px solid #8080803d;
}

.landing .dropdown-body {
  margin: 20px 0 15px;
}

.landing .page-sections {
  margin: 10px 0 10px;
}

/* BINNACLE */

.binnacle .cBXKgf {
  background-color: #ff860d21;
}

.binnacle .cBXKgf .dJewwL {
  max-height: none;
}

.binnacle .ifVHOW {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: 0;
  overflow: hidden;
  border: 1px solid #ff5a5f;
  border-radius: 50%;
  padding: 4px;
  background-color: #ff5a5f;
  right: 10px;
  top: 10px;
}

.binnacle .ifVHOW:before,
.binnacle .ifVHOW:after {
  content: '';
  position: absolute;
  height: 10px;
  width: 2px;
  top: 35%;
  left: 45%;
  background: #fff;
  border-radius: 5px;
}

.binnacle .hcypSx {
  background: #ff5a5fcc;
  vertical-align: baseline;
  outline: 0;
  padding: 4px 16px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
  box-shadow: none;
  border-radius: 5px;
  margin-left: 10px;
}

.binnacle .httlId {
  vertical-align: baseline;
  outline: 0;
  padding: 4px 16px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
  box-shadow: none;
  border-radius: 5px;
  margin-left: 10px;
}

.binnacle .board-container {
  background-color: #ff860d21;
  overflow-y: scroll;
  padding: 5px 10px 5px;
  font: 14px/18px 'Helvetica Neue',Arial,Helvetica,sans-serif;
  color: #393939;
  height: 100vh;
}

.binnacle .section-container {
  background-color: #e3e3e3;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  padding: 10px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: auto;
  max-height: 90%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.binnacle .section-container .section-header {
  z-index: 1000;
  padding: 0px 5px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.binnacle .section-container .section-header .section-title {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  cursor: -webkit-grab;
  width: 70%;
}

.binnacle .section-container .section-header .section-completed {
  width: 30%;
  text-align: right;
  padding-right: 10px;
  font-size: 13px;
}

.binnacle .section-container .section-body {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
}

.binnacle .section-container .section-body .section-item {
  font-weight: bold;
  line-height: 18px;
  font-size: 14px;
  cursor: -webkit-grab;
  width: 100%;
}

.binnacle .section-container .section-body .section-item input {
  margin-right: 10px;
}

.binnacle .section-container .section-body .section-item .section-item-title {
  border-bottom: 1px solid #eee;
}

.binnacle .section-container .section-body .section-item .description p {
  font-size: 12px;
  color: #4d4d4d;
  margin: 5px 0 0;
}

.binnacle .actions .icon {
  float: right;
}

.binnacle .actions .icon img {
  margin-right: 5px;
}

/* CHART */

.chart .bordered-cell {
  border: 1px solid #c1c1c185;
}

.chart .row.header select {
  padding: 0px;
  width: 20%;
  margin: 0px 20px;
  height: 20px;
}

.chart .numeric-input {
  width: 20%;
}

.chart svg.recharts-surface {
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

/* PLAN */

.plan-card {
  height: 300px;
  background-color: #c0cbff;
  border-radius: 5px;
  text-align: center;
  display: table;
  width: 90%;
  padding: 10px;
}

.plan-card h2 {
  display: table-cell;
  vertical-align: middle;
  width: 20px;
}